h3{
    color:white;
    text-align: center;
    font-size: xx-large;
}

.orta{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: large;
}

h1{
    color: black;
}
